@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;


}

/*-----------------------------
    Header Style Start Here
----------------------------- */

.header {

    padding: 24px 0 24px 0;
    background-color: #036D6C;
}

.container {
    max-width: 1306px;
    margin: auto;
    padding: 0 30px;


}

.nav-parent {
    display: flex;
    align-items: center;
    gap: 220px;

}

.btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn :first-child {
    color: #FFFFFF;
}

.nav-logo {
    display: flex;
}

.nav-item {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-item a:hover {
    color: #F6C228;
}

.nav-item a {
    color: #FFFFFF;
}

.nav-item-btn {
    display: flex;
    gap: 159px;
    align-items: center;

}

.btn-sign-up {
    background-color: #F6C228;
    padding: 14px 32px;
    border-radius: 35px;
}

.line {
    width: 0.3px;
    height: 35px;
    background-color: beige;
}



/* Header Style end */



/*------------------------
  hero style css
---------------------- */
.hero {
    min-height: 868px;
    background-color: #036D6C;
    color: #FFFFFF;
}

.content {
    display: flex;
    padding-top: 96px;
    gap: 68px;
}

.hero-text {
    padding-top: 107px;
}

.hero-love-btn {
    padding: 14px 32px;
    background-color: #058280;
    border-radius: 35px;
    color: #FFFFFF;
}

.main-heading {
    font-size: 49px;
    padding-top: 16px;
    padding-bottom: 32px;
}

.main-heading-color {
    color: #F6C228;
}

.hero-p {
    padding-bottom: 52px;
}

.hero-btn {
    display: flex;
    gap: 20px;
}

.hero-btn :first-child {
    padding: 12px 32px;
    background-color: #FFFFFF;
    border-radius: 35px;
    color: #0E0D0D;
}

.hero-btn :last-child {
    padding: 12px 32px;
    background-color: #036D6C;
    border: solid 1px #FFFFFF;
    border-radius: 35px;
    color: #FFFFFF;
}

/* hero styles css end */

/*-------------------------------------
   Blog-insurance styles start here 
-------------------------------------*/


.insurance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 20px 20px rgb(238, 238, 238);
    margin-top: 30px;
    padding-bottom: 30px;
}

.insurance img {
    padding: 45px 35px;
}

.insurance-img:hover {
    background-color: #036D6C;
    border-radius: 6px;

}

/* ----------------------------------
    Article Family Style start here 
------------------------------------*/

.family {
    background-image: url(all-img/Family-banner.png);


}

.article-family {
    display: flex;
    gap: 54px;
    padding-top: 120px;
}

.family-img {
    margin-left: -60px;

}

.family-text {
    padding-top: 160px;
}

.family-btn,
.family-btn-2 {
    padding: 8px 32px;
    background-color: #036D6C;
    border-radius: 35px;
    color: whitesmoke;
}

.family-btn-2 {
    background-color: #F6C228;
}

.family-main-header {
    max-width: 605px;
    font-size: 40px;
    padding-top: 31px;
    padding-bottom: 28px;
    line-height: 50px;
}

.family-p {
    padding-bottom: 40px;
}

.cames-first {
    color: #058280;
}

.family-rating {
    display: flex;
    gap: 70px;
    padding-top: 54px;

}

.rigth {
    max-width: 117px;
}

.left {
    max-width: 176px;
}

/* ----------------------------------
    Article Family Style end here 
------------------------------------*/

.blogs {
    display: flex;
    justify-content: space-between;
    gap: 87px;
    align-items: center;

}

.first-blog {
    max-width: 322px;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #FFFFFF;

}


.first-blog h2 {
    font-size: 36px;

}

.span-price {
    color: #F6C228;
}

.first-blog p {
    font-size: 24px;
}

.second-blog {
    /* padding-top: 97px; */
    color: #FFFFFF;
}

.blog {
    display: flex;
    gap: 75px;
}

.blog p {
    max-width: 498px;
}

.blog a {

    padding: 14px 32px;
    color: rgb(0, 0, 0);
    background-color: #F6C228;
    border-radius: 35px;
    font-weight: 500;
}

.tab-mobail {
    display: none;
}





/*----------------------------
   Responsiv For Tablet 
---------------------------*/

@media screen and (max-width: 991px) {

    /* nav-header Start*/

    .none {
        display: none;
    }

    .nav-logo img {
        width: 100px;
    }

    .nav-item-btn {
        margin-left: -90px;
    }

    .btn {
        width: 213px;
        margin-left: -80px;
    }

    .btn-sign-up {
        padding: 10px 20px;
    }

    .nav-item {
        width: 200px;
    }

    /* nav-header end*/

    /* hero section start */

    .hero-text {
        max-width: 334px;
        padding-top: unset;
    }

    .hero-love-btn {
        padding: 10px 20px;
    }

    .main-heading {
        font-size: 32px;
    }

    .hero-text p {
        max-width: 315px;
        font-size: 14px;
        padding-bottom: 30px;
    }

    .make-clam,
    .find-agent {
        font-size: 10px;
    }

    .hero-img img {
        max-width: 300px;
    }

    /* hero section end */

    /* Blog-insurance start */

    .insurance {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

    .insurance-img {
        max-width: 300px;
    }

    .insurance-img:hover {
        background-color: #036D6C;
    }

    /* Blog-insurance end */

    /* family Style start here */

    .family-img img {
        max-width: 450px;
        padding-left: 20px;
    }

    .family-text {
        padding-top: 30px;
    }

    .family-main-header {
        font-size: 32px;
        padding-top: 10px;
        padding-bottom: 15px;

    }

    .family-btn,
    .family-btn-2 {
        padding: 10px 18px;
        font-size: 12px;
    }

    .family-p {
        padding-bottom: 20px;
    }

    .family-rating {
        gap: 60px;
        padding-top: 24px;

    }

    /* family Style end here */

    .only-desktop {
        display: none;
    }

    /* This Section Only For Tablet And Mobail */

    .tab-mobail {
        text-align: center;
        padding-top: 40px;
    }

    .get-price {
        font-size: 48px;
        color: #FFFFFF;
        padding-bottom: 10px;
    }

    .commit-p {
        font-size: 24px;
        color: #bdbbbb;

    }

    .our-tec {
        color: #FFFFFF;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .price-btn {
        padding: 14px 32px;
        color: rgb(0, 0, 0);
        background-color: #F6C228;
        border-radius: 35px;
        font-weight: 500;
    }
}

/*-----------------------------------
    Responsive For Smartphone
--------------------------------- */
@media screen and (max-width: 767px) {

    .content {
        flex-direction: column-reverse;
    }

    .nav-item {
        display: none;
    }

    /* Blog-insurance start */

    .insurance {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /* family Style start here */

    .article-family {
        flex-direction: column;
    }

    /* This Section Only For Tablet And Mobail */

    .tab-mobail {
        text-align: center;
        padding-top: 40px;
    }

    .get-price {
        font-size: 48px;
        color: #FFFFFF;
        padding-bottom: 10px;
    }

    .commit-p {
        font-size: 24px;
        color: #bdbbbb;

    }

    .our-tec {
        color: #FFFFFF;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .price-btn {
        padding: 14px 32px;
        color: rgb(0, 0, 0);
        background-color: #F6C228;
        border-radius: 35px;
        font-weight: 500;

    }
}